<template>

    <b-container class="bv-example-row">
        <h2>Dashboard</h2>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <h5 class="card-header">Clients</h5>
                    <div class="card-body">                  
                        <h2 class="card-text" style="text-align:right">
                            392012
                        </h2>
                        <b-link href="#" class="card-link">Clients list</b-link>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">  <!--shadow-sm p-3 mb-5 bg-white rounded-->
                <div class="card">
                    <h5 class="card-header">Agents</h5>
                    <div class="card-body">                  
                        <h2 class="card-text" style="text-align:right">
                            <em>312</em>
                        </h2>
                        <b-link href="#" class="card-link">Agents list</b-link>
                    </div>
                </div>
            </div>
        </div>      

    </b-container>
        
</template>

<script>
export default {

}
</script>

<style>
.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
