<template>

    <div class="container bv-example-row">
        <div class="row">
            <div class="col-8">
                <h2>Best Agents</h2>
                <b-table small :items="items" :fields="fields">
                    <template slot="show_details" slot-scope="row">
                        <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
                        <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
                        {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                        </b-button>
                        <!-- In some circumstances you may need to use @click.native.stop instead -->
                        <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
                        <!-- <b-form-checkbox @click.native.stop @change="row.toggleDetails" v-model="row.detailsShowing">
                            Details via check
                        </b-form-checkbox> -->
                    </template>
                    <template slot="row-details" slot-scope="row">
                        <b-card>
                            <b-row class="mb-2">
                                <b-col sm="3" class="text-sm-right"><b>Age:</b></b-col>
                                <b-col>{{ row.item.age }}</b-col>
                            </b-row>
                            <b-row class="mb-2">
                                <b-col sm="3" class="text-sm-right"><b>Changes:</b></b-col>
                                <b-col>{{ row.item.changes }}</b-col>
                            </b-row>
                            <b-row class="mb-2">
                                <b-col sm="3" class="text-sm-right"><b>Clients:</b></b-col>
                                <b-col>{{ row.item.clients }}</b-col>
                            </b-row>
                            <b-row class="mb-2">
                                <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
                                <b-col>{{ row.item.isActive }}</b-col>
                            </b-row>
                            <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
                        </b-card>
                    </template>
                </b-table>
            </div>
            <div class="col-4">
                <h2>Change Request</h2>

                <div class="media">
                    <img class="mr-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" width="50" height="50" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Rihanna</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <textarea name="feeds" id="komentar" cols="30" rows="5"></textarea>
                        <button>Hide</button>
                        <button type="submit">Send</button>
                        <button type="reset">Change</button>
                    </div>
                </div>

                <!-- <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" width="55" height="55" alt="pikabob photo avatar">
                    <div class="kolom">
                        <h4 class="name-user">David James</h4>
                        <p>Date</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, laudantium totam! Eum libero vero fugiat culpa dolorum molestiae nulla, rem architecto laboriosam fuga recusandae quam corrupti reprehenderit aut ab omnis.</p>
                        <textarea name="feeds" id="komentar" cols="30" rows="5"></textarea>
                        <button>Hide</button>
                        <button type="submit">Send</button>
                        <button type="reset">Change</button>
                    </div>                   

                </div> -->
                
            </div>
        </div>      
    </div>

</template>

<script>
        export default {
    data () {
        return {
            fields: [ 'full_name', 'rating', 'show_details' ],
            items: [
                { isActive: true, age: 40, changes: 0, clients: 10, full_name: 'Dickerson Macdonald', rating: '3' },
                { isActive: true, age: 21, changes: 3, clients: 5, full_name: 'Larsen Shaw', rating: '5' },
                { isActive: false, age: 89, changes: 2, clients: 12, full_name: 'Geneva Wilson', rating: '4', _showDetails: true },
                { isActive: true, age: 38, changes: 1, clients: 4, full_name: 'Jami Carney', rating: '5' }
                ]
            }
        }
    }
</script>

<style>
img {
    border-radius: 50%;

}
.kolom {
    margin-left: 70px;
    float: right;
}
</style>
