<template>

  <div class="container-fliud">
    <div class="sidenav">
        <left-menu />           
    </div>

    <div class="right-menu">
      <cms-header />
        <div id="app" class="container">
          <h2>Client List</h2>
        <div class="card">
          <h4 class="card-header">
            Personal Information
          </h4>
          <div class="card-body">
            <div class="card-text">
              <form @submit.prevent="addClient">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="firstname" class="col-form-label">Pirst Name:</label>
                    <input type="text" id="name" class="form-control" v-model="dtClient.id">
                  </div>
                  <div class="col-sm-6">
                    <label for="lastname" class="col-form-label">Last Name:</label>
                    <input type="text" id="city" class="form-control" v-model="dtClient.owner">
                  </div>
                  <div class="col-sm-6">
                    <label for="">Gender</label>
                    <select class="form-control" id="">
                      <option>Laki-Laki</option>
                      <option>Perempuan</option>
                    </select>
                  </div>
                </div>   
                <div class="form-group row">
                <div class="col-sm-6">
                    <label for="tempatlahir" class="col-form-label">Tempat Lahir:</label>
                    <input type="text" id="tempatlahir" class="form-control" v-model="dtClient.owner">
                  </div>
                  <div class="col-sm-6">
                    <label for="tanggallahir" class="col-form-label">Tanggal Lahir:</label>
                    <input type="date" id="name" class="form-control" v-model="dtClient.id">
                  </div>  
                </div> 
                <div class="form-group row"> 
                  <div class="col-sm-6">
                    <label for="alamat" class="col-form-label">Alamat:</label>
                    <input type="text" id="city" class="form-control" v-model="dtClient.owner">
                  </div>
                  <div class="col-sm-6">
                    <label for="notelpon" class="col-form-label">No Telpon:</label>
                    <input type="text" id="name" class="form-control" v-model="dtClient.id">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="card">
          <h4 class="card-header">
            Police Information
          </h4>
          <div class="card-body">
            <div class="card-text">
              <form @submit.prevent="addClient">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="document" class="col-form-label">Police Document:</label>
                    <input type="file" id="name" class="form-control">
                  </div>
                </div>
                <div>
                  <div class="col-sm-6">
                    <label for="premi" class="col-form-label">Premi:</label>
                    <input type="text" id="city" class="form-control" v-model="dtClient.owner">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <label for="start_date" class="col-form-label">Star Date:</label>
                    <input type="date" id="tempatlahir" class="form-control" v-model="dtClient.owner">
                  </div>
                  <div class="col-sm-6">
                    <label for="expired_date" class="col-form-label">Expired Date:</label>
                    <input type="date" id="name" class="form-control" v-model="dtClient.id">
                  </div>
                </div>     
              </form>

                
                <button type="submit" class="btn btn-primary float-left">+ Add</button>   
            </div>
          </div>
        </div>

        <div class="card">
          <h4 class="card-header">
            Client Lists
          </h4>
          <div class="card-body">
            <div class="card-text">
              <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Change</th>
                    <th>Client</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="client in client" :key="client.id">
                    <td>{{ client.owner }}</td>
                    <td>{{ client.policy }}</td>
                    <td>{{ client.status }}</td>
                    <td>{{ client.Agen }}</td>
                    <td>{{ client.start_date }}</td>
                    <td>{{ client.expired_date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

          
</template>

<script>
import leftMenu from './LeftMenu.vue'
import cmsHeader from './cmsHeader.vue'
import cmsCLientList from './cmsClientList.vue'

import Firebase from 'firebase'
  const config = {
      // your firebase config snippet 
      apiKey: "AIzaSyDSV5q0WzbY7f-xDMo7bqlpu8X8nrZmMIM",
      authDomain: "guaproject-bf61d.firebaseapp.com",
      databaseURL: "https://guaproject-bf61d.firebaseio.com",
      projectId: "guaproject-bf61d",
      storageBucket: "guaproject-bf61d.appspot.com",
      messagingSenderId: "559651986418"

  }

  const app = Firebase.initializeApp(config);
  const db = app.database();

  const clientRef = db.ref('client');

  export default {
    name: 'app',
    firebase: {
      client: clientRef
    },
    data () {
      return {
        dtClient: {
          id: '',
          owner: '',
          policy: '',
          status:'',
          agen:'',
          start_date:'',
          expired_date:''
        }
      }
    },
    methods: {
      addClient() {
        clientRef.push(this.dtClient)
        this.dtClient.id = ''
        this.dtClient.owner = ''
        this.dtClient.policy = ''
        this.dtClient.status = ''
        this.dtClient.agen = ''
        this.dtClient.start_date = ''
        this.dtClient.expired_date = ''
      },
      removeClient(client) {
        clientRef.child(client['.key']).remove()
      }
    },
    components: {
      cmsCLientList, leftMenu, cmsHeader
    }
}
</script>

<style>

</style>