<template>

    <div class="container-fliud">
        <div class="sidenav">
            <left-menu />           
        </div>

        <div class="main">
            <right-menu />
        </div>
  </div>
   
</template>

<script>
import leftMenu from './LeftMenu.vue'
import rightMenu from './RightMenu.vue'
export default {
    components: {
        leftMenu, rightMenu
    }
};
</script>

<style>

</style>
